@page
@model OCC.HSM.UI.Pages.PrivacyPolicyModel
@{
	ViewData["Title"] = "PrivacyPolicy";
	Layout = "~/Pages/Shared/_altLayoutPolicy.cshtml";
}

<div class="hsm-privacy-page">   
    <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds-from-desktop">
			<h1 class="govuk-heading-xl hsm-heading-1">Privacy Notice</h1>
        </div>
    </div>
	<div class="govuk-grid-row govuk-!-margin-bottom-8">
		<div class="govuk-grid-column-two-thirds-from-desktop">

            <p class="govuk-body govuk-!-margin-bottom-8">
                This notice sets out how we will use your personal data, and your rights. It is made under Articles 13 and/or 14 of the UK General Data Protection Regulation (UK GDPR). 
            </p>

            <section class="hsm-privacy-page-section hsm-privacy-page-section-data govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m">YOUR DATA</h2>
                <p class="govuk-body">
                This service does not automatically collect or store any personal data about you. 
                </p>
                <p class="govuk-body">
                We may process the following personal data: 
                </p>
                <p class="govuk-body">
                Your name, email address and any other information sent directly to us via our email feedback function.  
                </p>
                <p class="govuk-body">
                We may also collect and process anonymised information as outlined in our  <a class="govuk-link" href="CookiePolicy">cookie policy</a> 
                </p>
            </section>

            <section class="hsm-privacy-page-section hsm-privacy-page-section-purpose govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-s">Purpose</h2>
                <p class="govuk-body">
                We are processing your personal data in order to receive feedback about this service and to contact you for clarifications or to report service updates.
                </p>
            </section>

            <section class="hsm-privacy-page-section hsm-privacy-page-section-purpose govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-s">Legal basis of processing </h2>
                <p class="govuk-body">
                The legal basis for processing your personal data is processing necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the data controller, such as the exercise of a function of the Crown, a Minister of the Crown, or a government department; the exercise of a function conferred on a person by an enactment; the exercise of a function of either House of Parliament; or the administration of justice. In this case, in order to receive feedback about this service and to contact you for clarifications or to report service updates.
                </p>
            </section>
            
            <section class="hsm-privacy-page-section hsm-privacy-page-section-purpose govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-s">Recipients</h2>
                <p class="govuk-body">
                Your personal data will be shared by us with other Government Departments or public authorities where necessary as part of the tender exercise. We may share your data if we are required to do so by law, for example by court order or to prevent fraud or other crime.
                </p>
                <p class="govuk-body">
                As your personal data will be stored on our IT infrastructure it will also be shared with our data processors Microsoft and Amazon Web Services.
                </p>
                <p class="govuk-body">
                Your personal data may also be shared with the Energy Systems Catapult Limited and Oxford Computer Consultants who developed and help to maintain this service. 
                </p>
            </section>

            <section class="hsm-privacy-page-section hsm-privacy-page-section-purpose govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-s">Retention</h2>
                <p class="govuk-body">
                Your personal details will be kept for a period of up to six months following the date of your final email sharing the details with us. 
                </p>
            </section>
            
            <section class="hsm-privacy-page-section hsm-privacy-page-section-purpose govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-s">Automated decision making</h2>
                <p class="govuk-body">
                Your personal data will not be subject to automated decision making.
                </p>
            </section>
            
            <section class="hsm-privacy-page-section hsm-privacy-page-section-purpose govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-s">Your Rights</h2>
                <ul class="govuk-list govuk-list--spaced">
                    <li>You have the right to request information about how your personal data are processed, and to request a copy of that personal data. </li>
                    <li>You have the right to request that any inaccuracies in your personal data are rectified without delay.</li>
                    <li>You have the right to request that any incomplete personal data are completed, including by means of a supplementary statement. </li>
                    <li>You have the right to request that your personal data are erased if there is no longer a justification for them to be processed. </li>
                    <li>You have the right in certain circumstances (for example, where accuracy is contested) to request that the processing of your personal data is restricted.</li>
                    <li>You have the right to object to the processing of your personal data where it is processed for direct marketing purposes.</li>
                    <li>You have the right to object to the processing of your personal data.  </li>
                </ul>
            </section>
            
            <section class="hsm-privacy-page-section hsm-privacy-page-section-purpose govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-s">International Transfers</h2>
                <p class="govuk-body">
                As your personal data is stored on our IT infrastructure and shared with our data processors Microsoft and Amazon Web Services, it may be transferred and stored securely in the UK and European Economic Area. Where it is the case that your personal data is stored outside the UK and EEA it will be subject to equivalent legal protection through the use of Model Contract Clauses.
                </p>
            </section>
            
            <section class="hsm-privacy-page-section hsm-privacy-page-section-purpose govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-s">Complaints  </h2>
                <p class="govuk-body">
                If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information Commissioner, who is an independent regulator. 
                </p>
                <p class="govuk-body">
                The Information Commissioner can be contacted at: 
                </p>

                <div class="govuk-inset-text">
                    <p class="govuk-body">
                    Information Commissioner's Office<br>
                    Wycliffe House<br>
                    Water Lane<br>
                    Wilmslow<br>
                    Cheshire<br>
                    SK9 5AF<br>
                    </p>
                    <ul class="govuk-list">
                        <li>Telephone: 0303 123 1113</li>
                        <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
                    </ul>
                    <p class="govuk-body">
                        Email: <a class="govuk-link" href="mailto: casework@ico.org.uk">casework@ico.org.uk</a>
                    </p>
                </div>
                <p class="govuk-body">
                Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts. 
                </p>
            </section>
            
            <section class="hsm-privacy-page-section hsm-privacy-page-section-usage govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-s">Contact Details</h2>
                <p class="govuk-body">
                The data controller for your personal data is the Department for Business, Energy & Industrial Strategy (BEIS).  
                </p>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                        You can contact the BEIS Data Protection Officer at:
                        </span>
                    </summary>
                    <div class="govuk-inset-text">
                        <p class="govuk-body">
                        BEIS Data Protection Officer,<br>
                        Department for Business, Energy and Industrial Strategy,<br>
                        1 Victoria Street,<br>
                        London SW1H 0ET<br>
                        </p>
                        <p class="govuk-body">
                            Email: <a class="govuk-link" href="mailto: dataprotection@beis.gov.uk">dataprotection@beis.gov.uk</a>
                        </p>
                    </div>
                </details>
            </section>
        </div>
	</div>
</div>

