@page
@model OCC.HSM.UI.Pages.ServiceErrorModel
@{
    ViewData["Title"] = "Sorry, there is a problem with the service – Heat Pump Options – GOV.UK";
    Layout = "~/Pages/Shared/_mainLayout.cshtml";
}

@if (Model.DisabledCookies)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Cookies are disabled</h1>
            <p class="govuk-body">Cookies are disabled on your device, Heat Pump Options requires Essential Cookies in order to work.</p>
            <p class="govuk-body">Enable cookies on your device and try again.</p>
            <p class="govuk-body">To learn more about the cookies used on this service view the <a class="govuk-link" href="/CookiePolicy">Cookie Policy</a></p>
        </div>
    </div>
}
else
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
            <p class="govuk-body">Try again later.</p>
        </div>
    </div>
}